openapi: 3.0.1
info:
  title: Koppelvlak backoffice
  description: OpenAPI Koppelvlak specificatie tbv interactie met de backoffice.
  termsOfService: 'https://github.com/OAI/OpenAPI-Specification/blob/master/LICENSE'
  contact:
    name: "iStandaarden"
    url: "https://istandaarden.nl"
    email: info@istandaarden.nl
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: '0.1.0'
externalDocs:
  description: Find out more about OpenAPI
  url: 'https://www.openapis.org'
servers:
  - url: 'https://api.backoffice.nl/rest'
tags:
  - name: Verwerken volgindicaties
    description: 'Operaties voor het verwerken van volgindicaties'
#    externalDocs:
#      description: todo
#      url: 'todo'
  - name: Verwerken notificaties
    description: 'Operaties voor het verwerken van notificaties'
#    externalDocs:
#      description: todo
#      url: 'todo'
paths:
  /volgindicaties/record:
      post:
        tags:
          - Verwerken volgindicaties
        summary: Volgindicatie plaatsen op een specifiek record
        operationId: postVolgindicatieRecord
        parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  recordId:
                    description: Identificatie van het record waar een abonnement op geplaatst is
                    type: string
                required:
                  - recordId
        callbacks:   # Callback definition
          notificatie:   # Event name
            '{/netwerkpunt/zendNotificatie}':   # The callback URL for delivering notifications
              post:
                parameters:
                - in: header
                  name: X-orgKey
                  description: Uniek ID van de organisatie binnen het netwerk
                  schema:
                    type: integer
                    format: int32
                  required: true
                requestBody:   # Contents of the callback message
                  required: true
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          timestamp:
                              type: string
                              format: date-time
                          recordId:
                            type: string
                          eventType:
                            type: string
                            enum: ["create", "update"]
                        required:
                          - timestamp
                          - recordId
                          - eventType
                responses:   # Expected responses to the callback message
                  '200':
                    description: Your server returns this code if it accepts the callback
        responses:
          '201':
            description: Volgindicatie aangemaakt
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    VolgindicatieId:
                      type: string
                      format: uuid
          '400':
            description: Onbekend RecordId - Volgindicatie niet aangemaakt
            content: {}
  /volgindicaties/persoon:
      post:
        tags:
          - Verwerken volgindicaties
        summary: Volgindicatie plaatsen op een specifiek persoon
        operationId: postVolgindicatiePersoon
        parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  recordType:
                    type: string
                    enum: ["wlzindicatie"]
                  eventType:
                    description: specificatie voor welke gebeurtenissen er een abonnement wordt afgesloten. all = alle gebeurtenissen / create = alleen aanmaken / update = alleen wijzigingen
                    type: string
                    enum: ["all","create", "update"]
                  persoonId:
                    description: identificatie persoon
                    type: string
                  persoonIdType:
                    description: type identificatie persoon
                    type: string
                    enum: ["BSN"]
                required:
                  - event
                  - organisatieId
                  - persoonIdType
        callbacks:   # Callback definition
          notificatie:   # Event name
            '{/netwerkpunt/zendNotificatie}':   # The callback URL for delivering notifications
              post:
                parameters:
                - in: header
                  name: X-orgKey
                  description: Uniek ID van de organisatie binnen het netwerk
                  schema:
                    type: integer
                    format: int32
                  required: true
                requestBody:   # Contents of the callback message
                  required: true
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          timestamp:
                              type: string
                              format: date-time
                          recordId:
                            type: string
                          eventType:
                            type: string
                            enum: ["create", "update"]
                        required:
                          - timestamp
                          - recordId
                          - eventType
                responses:   # Expected responses to the callback message
                  '200':
                    description: Your server returns this code if it accepts the callback
        responses:
          '201':
            description: Volgindicatie aangemaakt
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    VolgindicatieId:
                      type: string
                      format: uuid
          '400':
            description: Onbekend BSN - Volgindicatie niet aangemaakt
            content: {}
  /volgindicaties/{volgindicatieId}:
    delete:
      tags:
        - Verwerken volgindicaties
      summary: Verwijder een volgindicatie
      description: 'Operatie voor het verwijderen van een eerder geplaatste volgindicatie'
      operationId: deleteAbonnement
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - in: path
          name: VolgindicatieId
          description: Id van de volgindicatie dat verwijderd dient te worden
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Volgindicatie verwijderd
        '404':
          description: Volgindicatie niet gevonden 
  /notificaties:
    post:
      tags:
        - Verwerken notificaties
      summary: Operatie voor het ontvangen van notificaties
      description: Vind indicatieID's en indicatiedatums van verstrekte indicaties op basis van het BSN van de cliënt.
      operationId: processNotification
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
                  required: true
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          timestamp:
                              type: string
                              format: date-time
                          abonnementId:
                            type: string
                            format: uuid
                          eventType:
                            type: string
                            enum: ["create", "update"]
                          recordID:
                            type: string
                            example: "https://api.ciz.nl/wlzindicatieregister/wlzindicaties/da8ebd42-d29b-4508-8604-ae7d2c6bbddd"
                        required:
                          - timestamp
                          - abonnementId
                          - eventType
                          - recordID
      responses:
        '202':
          description: Accepted
          content: {}
        '400':
          description: Bad Request
          content: {}