openapi: 3.0.1
info:
  title: Koppelvlak backoffice
  description: OpenAPI Koppelvlak specificatie tbv interactie met de backoffice.
  termsOfService: 'https://github.com/OAI/OpenAPI-Specification/blob/master/LICENSE'
  contact:
    name: "iStandaarden"
    url: "https://istandaarden.nl"
    email: info@istandaarden.nl
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: '0.2.0'
externalDocs:
  description: Find out more about OpenAPI
  url: 'https://www.openapis.org'
servers:
  - url: 'https://api.backoffice.nl/rest'
tags:
  - name: Verwerken abonnementen
    description: 'Operaties voor het verwerken van abonnementen'
#    externalDocs:
#      description: todo
#      url: 'todo'
  - name: Verwerken notificaties
    description: 'Operaties voor het verwerken van notificaties'
#    externalDocs:
#      description: todo
#      url: 'todo'
paths:
  /backoffice/abonnement:
      post:
        tags:
          - Verwerken abonnementen
        summary: Abonneren op een specifiek record, persoon of organisatie
        operationId: postAbonnementRecord
        parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisatieId:
                    description: identificatie van de organisatie
                    type: string
                  organisatieIdType:
                    description: type identificatie van de organisatie
                    type: string
                  abonnementType:
                    description: Type abonement dat geplaatst moet worden
                    type: string
                    enum: ["organisatie","record", "persoon"]
                  eventType:
                    description: specificatie voor welke gebeurtenissen er een abonnement wordt afgesloten. all = alle gebeurtenissen / create = alleen aanmaken / update = alleen wijzigingen
                    type: string
                    enum: ["all","create", "update", "delete"]
                  entiteit:
                    description: entiteit waarop het abonnement geplaatst moet worden
                    type: string
                  recordId:
                    description: Identificatie van het record waarop het abonnement geplaatst wordt
                    type: string
                  personId:
                    description: Identificatie van de persoon waarop het abonnement geplaatst wordt
                    type: string         
                required:
                  - organisatieId
                  - organisatieIdType
                  - abonnementType
                  - eventType
                  - entiteit                  
        callbacks:   # Callback definition
          notificatie:   # Event name
            '{/netwerkpunt/zendNotificatie}':   # The callback URL for delivering notifications
              post:
                parameters:
                - in: header
                  name: X-orgKey
                  description: Uniek ID van de organisatie binnen het netwerk
                  schema:
                    type: integer
                    format: int32
                  required: true
                - in: header
                  name: X-Request-ID
                  description: Identificatie van het request
                  schema:
                    type: string
                  required: true
                requestBody:   # Contents of the callback message
                  required: true
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          timestamp:
                              type: string
                              format: date-time
                          eventType:
                            type: string
                            enum: ["all","create", "update", "delete"]
                          recordId:
                            type: string
                        required:
                          - organisatieId
                          - organisatieIdType
                          - timestamp
                          - recordId
                          - eventType
                responses:   # Expected responses to the callback message
                  '200':
                    description: Your server returns this code if it accepts the callback
        responses:
          '201':
            description: Abonnement aangemaakt
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    AbonnementId:
                      type: string
                      format: uuid
          '400':
            description: Ongeldig Record - Abonnement niet aangemaakt
            content: {}
  /backoffice/abonnement/{abonnementID}:
    delete:
      tags:
        - Verwerken abonnementen
      summary: Verwijder een abonnement
      description: 'Operatie voor het verwijderen van een eerder geplaatst abonnement'
      operationId: deleteAbonnement
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
        - in: path
          name: abonnementId
          description: Id van het abonnement dat verwijderd dient te worden
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Abonnement verwijderd
        '404':
          description: abonnementID niet gevonden 
  /backoffice/notificaties:
    post:
      tags:
        - Verwerken notificaties
      summary: Operatie voor het ontvangen van notificaties
      description: Operatie voor het ontvangen van notificaties
      operationId: processNotification
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: header
          name: X-Request-ID
          description: Identificatie van het request
          schema:
            type: string
          required: true
      requestBody:
                  required: true
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          organisatieId:
                            description: identificatie van de organisatie
                            type: string
                          organisatieIdType:
                            description: type identificatie van de organisatie
                            type: string
                          timestamp:
                              type: string
                              format: date-time
                          abonnementId:
                            type: string
                            format: uuid
                          eventType:
                            type: string
                            enum: ["all","create", "update", "delete"]
                          recordID:
                            type: string
                            example: "https://api.ciz.nl/wlzindicatieregister/wlzindicaties/da8ebd42-d29b-4508-8604-ae7d2c6bbddd"
                        required:
                          - organisatieId
                          - organisatieIdType
                          - timestamp
                          - abonnementId
                          - eventType
                          - recordID
      responses:
        '202':
          description: Accepted
          content: {}
        '400':
          description: Bad Request
          content: {}