openapi: 3.0.1
info:
  title: iWlz netwerkpunt functies
  description: OpenAPI Koppelvlak specificatie tbv generieke netwerkpunt functies.
  termsOfService: 'https://github.com/OAI/OpenAPI-Specification/blob/master/LICENSE'
  contact:
    name: "iStandaarden"
    url: "https://istandaarden.nl"
    email: info@istandaarden.nl
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: '0.2.0'
externalDocs:
  description: Find out more about OpenAPI
  url: 'https://www.openapis.org'
servers:
  - url: 'https://www.mijnnetwerkpunt.nl'
tags:
  - name: extern
    description: koppelvlak specificaties van Netwerkpunt naar buiten
#    externalDocs:
#      description: todo
#      url: 'todo'
  - name: intern
    description: koppelvlak specificaties van Netwerkpunt naar backoffice (intern)
#    externalDocs:
#      description: todo
#      url: 'todo'
paths:
  /netwerkpunt/abonnement:
      post:
        tags:
          - extern
        summary: Abonneren op een specifiek record
        operationId: postAbonnementRecord
        parameters:
        - in: header
          name: X-orgKey
          description: Uniek ID van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptionType:
                    description: Type abonement dat geplaatst moet worden
                    type: string
                    enum: ["record", "persoon", "organisatie"]
                  Id:
                    description: Identificatie behorende bij het abonnementtype
                    type: string
                  IdType:
                    description: Type identificatie
                    type: string
                  eventType:
                    description: specificatie voor welke gebeurtenissen er een abonnement wordt afgesloten. all = alle gebeurtenissen / create = alleen aanmaken / update = alleen wijzigingen
                    type: string
                    enum: ["all","create", "update", "delete"]
                  organisatieId:
                    description: identificatie van de organisatie
                    type: string
                  organisatieIdType:
                    description: type identificatie van de organisatie
                    type: string
                required:
                  - subscriptionType
                  - recordId
                  - event
                  - organisatieId
                  - organisatieIdType
        callbacks:   # Callback definition
          notificatie:   # Event name
            '{abonneeEndpoint/notificatie}':   # The callback URL for delivering notifications
              post:
                parameters:
                - in: header
                  name: X-orgKey
                  description: Uniek ID van de organisatie binnen het netwerk
                  schema:
                    type: integer
                    format: int32
                  required: true
                requestBody:   # Contents of the callback message
                  required: true
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          timestamp:
                              type: string
                              format: date-time
                          abonnementId:
                            type: string
                            format: uuid
                          eventType:
                            type: string
                            enum: ["create", "update"]
                          entiteitID:
                            type: string
                        required:
                          - timestamp
                          - abonnementId
                          - eventType
                          - message
                responses:   # Expected responses to the callback message
                  '200':
                    description: Your server returns this code if it accepts the callback
        responses:
          '201':
            description: Abonnement aangemaakt
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    abonnementId:
                      type: string
                      format: uuid
          '400':
            description: Ongeldig Record - Abonnement niet aangemaakt
            content: {}
  /netwerkpunt/notificeren:
    post:
      tags:
        - extern
      summary: Zendnotificatie naar andere netwerkpartijen
      operationId: zendNotificatie
      parameters:
      - in: header
        name: X-orgKey
        description: Uniek ID van de organisatie binnen het netwerk
        schema:
          type: integer
          format: int32
        required: true
      requestBody:   # Contents of the callback message
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                timestamp:
                    type: string
                    format: date-time
                abonnementId:
                  type: string
                  format: uuid
                eventType:
                  type: string
                  enum: ["create", "update", "delete"]
                recordID:
                  type: string
              required:
                - timestamp
                - abonnementId
                - eventType
                - message
      responses:
        '202':
          description: notificatie ontvangen
          content:
            application/json:
              schema:
                type: object
                properties:
                  abonnementId:
                    type: string
                    format: uuid
  /netwerkpunt/abonnement/{abonnementId}:
    delete:
      tags:
        - extern
      summary: Verwijder een abonnement
      description: 'Operatie voor het verwijderen van een eerder geplaatst abonnement'
      operationId: deleteAbonnement
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek Id van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: path
          name: abonnementId
          description: Id van het abonnement dat verwijderd dient te worden
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Abonnement verwijderd
        '404':
          description: abonnementId niet gevonden 
  /netwerkpunt/intern/abonnement:
    get:
      tags:
        - intern
      summary: Raadplegen eigen actuele abonnementen bij andere netwerkpartijen
      operationId: getEigenAbonnementen
      parameters:
      #- in: header
      #  name: X-orgKey
      #  description: Uniek ID van de organisatie binnen het netwerk
      #  schema:
      #    type: integer
      #    format: int32
      #  required: true
      - in: query
        name: subscriptionType
        description: Type abonnement
        schema:
          type: string
      - in: query
        name: Id
        description: Identificatie behorende bij het abonnementtype
        schema:
          type: string
      - in: query
        name: IdType
        description: Type identificatie
        schema:
          type: string
      - in: query
        name: eventType
        description: specificatie voor welke gebeurtenissen er een abonnement wordt afgesloten. all = alle gebeurtenissen / create = alleen aanmaken / update = alleen wijzigingen
        schema: 
          type: string
          enum: ["all","create", "update"]
      - in: query
        name: organisatieId
        description: identificatie van de organisatie waar abonnement is aangegaan
        schema:
          type: string
      - in: query
        name: organisatieIdType
        description: type identificatie van de organisatie
        schema:
          type: string
      - in: query
        name: aanmaakdatumBegin
        description: kleinste datum abonnement aangegaan
        schema:
          type: string
          format: date-time
      - in: query
        name: aanmaakdatumEind
        description: grootste datum abonnement aangegaan
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: verzoek ontvangen
          content:
            application/json:
              schema:
                type: object
                properties:
                  abonnementId:
                    description: abonnement identificatie
                    type: string
                    format: uuid
                  subscriptionType:
                    description: Type abonnement
                    type: string
                  Id:
                    description: Identificatie behorende bij het abonnementtype
                    type: string
                  IdType:
                    description: Type identificatie
                    type: string
                  eventType:
                    description: specificatie voor welke gebeurtenissen er een abonnement wordt afgesloten. all = alle gebeurtenissen / create = alleen aanmaken / update = alleen wijzigingen
                    type: string
                    enum: ["all","create", "update"]
                  organisatieId:
                    description: identificatie van de organisatie waar abonnement is aangegaan
                    type: string
                  organisatieIdType:
                    description: type identificatie van de organisatie
                    type: string
                  aanmaakdatum:
                    description: datum abonnement aangegaan
                    type: string
                    format: date-time
  /netwerkpunt/intern/abonnees:
    get:
      tags:
        - intern
      summary: Raadplegen actuele abonnementen die geplaatst zijn door andere netwerkpartijen
      operationId: getAbonnees
      parameters:
      - in: header
        name: X-orgKey
        description: Uniek ID van de organisatie binnen het netwerk
        schema:
          type: integer
          format: int32
        required: true
      - in: query
        name: subscriptionType
        description: Type abonnement
        schema:
          type: string
      - in: query
        name: Id
        description: Identificatie behorende bij het abonnementtype
        schema:
          type: string
      - in: query
        name: IdType
        description: Type identificatie
        schema:
          type: string
      - in: query
        name: eventType
        description: specificatie voor welke gebeurtenissen er een abonnement wordt afgesloten. all = alle gebeurtenissen / create = alleen aanmaken / update = alleen wijzigingen
        schema: 
          type: string
          enum: ["all","create", "update"]
      - in: query
        name: organisatieId
        description: identificatie van de organisatie waar abonnement is aangegaan
        schema:
          type: string
      - in: query
        name: organisatieIdType
        description: type identificatie van de organisatie
        schema:
          type: string
      - in: query
        name: aanmaakdatumBegin
        description: kleinste datum abonnement aangegaan
        schema:
          type: string
          format: date-time
      - in: query
        name: aanmaakdatumEind
        description: grootste datum abonnement aangegaan
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: verzoek ontvangen
          content:
            application/json:
              schema:
                type: object
                properties:
                  abonnementId:
                    description: abonnement identificatie
                    type: string
                    format: uuid
                  subscriptionType:
                    description: Type abonnement
                    type: string
                  Id:
                    description: Identificatie behorende bij het abonnementtype
                    type: string
                  IdType:
                    description: Type identificatie
                    type: string
                  eventType:
                    description: specificatie voor welke gebeurtenissen er een abonnement wordt afgesloten. all = alle gebeurtenissen / create = alleen aanmaken / update = alleen wijzigingen
                    type: string
                    enum: ["all","create", "update"]
                  organisatieId:
                    description: identificatie van de organisatie waar abonnement is aangegaan
                    type: string
                  organisatieIdType:
                    description: type identificatie van de organisatie
                    type: string
                  aanmaakdatum:
                    description: datum abonnement aangegaan
                    type: string
                    format: date-time
  /netwerkpunt/intern/consents:
    get:
      tags:
        - intern
      summary: Raadplegen actuele consents die zijn verstrekt aan de netwerkpartij
      operationId: getConsents
      parameters:
      - in: header
        name: X-orgKey
        description: Uniek ID van de organisatie binnen het netwerk
        schema:
          type: integer
          format: int32
        required: true
      - in: query
        name: scope
        description: Scope van de consent
        schema:
          type: string
      - in: query
        name: onderwerp
        description: Onderwerp van de consent
        schema:
          type: string
      - in: query
        name: wettelijkeGrondslag
        description: Wettelijke grondslag van de consent
        schema:
          type: string
      - in: query
        name: afgiftedatumBegin
        description: kleinste afgiftedatum consent
        schema:
          type: string
          format: date-time
      - in: query
        name: afgiftedatumEind
        description: grootste afgiftedatum consent
        schema:
          type: string
          format: date-time
      - in: query
        name: vervaldatumBegin
        description: kleinste vervaldatum consent
        schema:
          type: string
          format: date-time
      - in: query
        name: vervaldatumEind
        description: grootste vervaldatum consent
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: verzoek ontvangen
          content:
            application/json:
              schema:
                type: object
                properties:
                  consentId:
                    description: Consent identificatie
                    type: string
                    format: uuid
                  scope:
                    description: Scope van de consent
                    type: string
                  onderwerp:
                    description: Onderwerp van de consent
                    type: string
                  wettelijkeGrondslag:
                    description: Wettelijke grondslag van de consent
                    type: string
                  afgiftedatum:
                    description: Afgiftedatum consent
                    type: string
                  vervaldatum:
                    description: Vervaldatum consent
                    type: string
  /netwerkpunt/intern/abonnees/{organisatieId}:
    delete:
      tags:
        - intern
      summary: Verwijder een abonnee
      description: Operatie voor het verwijderen van een abonnee
      operationId: deleteAbonnee
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek Id van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: path
          name: organisatieId
          description: Id van het abonnement dat verwijderd dient te worden
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Abonnee verwijderd
        '404':
          description: OrganisatieId niet gevonden
  /netwerkpunt/intern/abonnement/{abonnementId}:
    delete:
      tags:
        - intern
      summary: Verwijder een abonnement
      description: 'Operatie voor het verwijderen van een eerder geplaatst abonnement'
      operationId: deleteAbonnement
      parameters:
        - in: header
          name: X-orgKey
          description: Uniek Id van de organisatie binnen het netwerk
          schema:
            type: integer
            format: int32
          required: true
        - in: path
          name: abonnementId
          description: Id van het abonnement dat verwijderd dient te worden
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Abonnement verwijderd
        '404':
          description: abonnementId niet gevonden 
